<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.techsun.famouswine.dao.CityMapper" >
  <resultMap id="BaseResultMap" type="com.techsun.famouswine.domain.City" >
    <id column="city_id" property="cityId" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="full_path" property="fullPath" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="activated" property="activated" jdbcType="BIT" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    city_id, parent_id, level, name, full_path, description, activated, deleted, create_date, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_city
    where city_id = #{cityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_city
    where city_id = #{cityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.techsun.famouswine.domain.City" >
    <selectKey resultType="java.lang.Integer" keyProperty="cityId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_city (parent_id, level, name, 
      full_path, description, activated, 
      deleted, create_date, update_date
      )
    values (#{parentId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{fullPath,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{activated,jdbcType=BIT}, 
      #{deleted,jdbcType=BIT}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.techsun.famouswine.domain.City" >
    <selectKey resultType="java.lang.Integer" keyProperty="cityId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_city
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="fullPath != null" >
        full_path,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="activated != null" >
        activated,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullPath != null" >
        #{fullPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.techsun.famouswine.domain.City" >
    update t_city
    <set >
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="fullPath != null" >
        full_path = #{fullPath,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="activated != null" >
        activated = #{activated,jdbcType=BIT},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.techsun.famouswine.domain.City" >
    update t_city
    set parent_id = #{parentId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      full_path = #{fullPath,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      activated = #{activated,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where city_id = #{cityId,jdbcType=INTEGER}
  </update>
  <select id="findCityList" resultMap="BaseResultMap" parameterType="com.techsun.famouswine.domain.CommonParam" >
    select parent_id,name 
    from t_city
    order by parent_id asc
    limit #{startNum,jdbcType=INTEGER},#{endNum,jdbcType=INTEGER}
  </select>
</mapper>